@import "tailwindcss";

body{
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'Fira Code', monospace;
}

@theme {
    --color-primary: #3D0000;
    --color-primary-100: #3D0000;
    --color-primary-200: #5a0000;
    --color-primary-300: #770000;
    --color-primary-400: #940000;
    --color-primary-500: #b10000;
    --color-primary-600: #ce0000;
    --color-primary-700: #eb0000;
    --color-primary-800: #ff0000;
    --color-secondary: #950101;
    --color-background: #040303;
    --color-text: #ffffff;
}

